        :root{
            --bg:#fff;
            --text:#1a1a1a;
            --header:#014e5c;
            --muted: #f1eeee;
           --brand:#1591a0;
            --border:#8fccf5;
            --lighblue:#ccebff;
            --radius:12px;
            --shadow:0 6px 20px rgba(0,0,0,.08);
               
        }

    .dark-mode{
         --bg:#21292c;
         --text: #e7dede;
         --border:#7c949c;
  

         --brand:#1591a0;
         --header:#006a9d;
        
}

        body[data-lang='EN'] [lang='gr']{display: none;}
        body[data-lang='GR'] [lang='en'] {display: none;}

        *, *::before, *::after { box-sizing: border-box; }
        img { max-width: 100%; height: auto; display: block; }


        html,body{
             margin: 0;
            
            
        }

        body{
            background-color: var(--bg);
            color:var(--text);
             font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
            margin: 0;
            height: 100vh;
            
        }
        
     #color-switch > svg:first-child { display: block; }
     #color-switch > svg:last-child  { display: none;  }

   .dark-mode #color-switch > svg:first-child {
        display: none;    /* κρύψε moon */
        }
        
    .dark-mode #color-switch > svg:last-child {
          display: block;   /* δείξε sun */
        }
    
    .dark-mode #color-switch {
          color: #ffffff;
    }

    
    #color-switch svg{
         width: 1em;
         height: 1em;
          fill: currentColor;
    }
       

       
        header, main {
            width: min(760px, 94%);;
            margin: 0 auto;
            padding: 16px;
        }
        header{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid var(--border);
            text-align: center;
            gap:5px
        }

        header .language{
            display: flex;
            gap:5px;
            margin-bottom: 10px;
        }
        header button{
            font-size: clamp(1.1rem,5vw,1.5rem);
            font-weight: 500;
            padding: 10px 20px;
            border-radius: var(--radius);
            border:2px solid var(--border);
            cursor: pointer;
            transition: all 0.2s ease;
        }

        header button:hover{
            color: #fff;
            background-color: var(--brand);
            border-color: var(--brand);
        }

        .active-lang, .active-theme{
            color:#fff;
            background-color: var(--brand);
            border-color: var(--brand);
        }
        .welcome h2{
            color:var(--header);
            font-size: clamp(1.8rem, 4vw, 2.4rem);
            margin:0 0 4px 0;
        }
        .welcome p{
            margin:0px;
            color:var(--text); 
            font-size:1.2rem;
            
        }
        .description > p{
            margin:0;
            color:var(--text);
            font-size:1.2rem;
             border-bottom: 1px solid var(--border);
             margin-top: 20px;
             padding:16px;
              line-height: 1.4;
            
        }

        details>summary{
            font-size: clamp(1.1rem, 4.2vw,1.5rem);
        }

        summary{
            list-style: none;
        }

       

        .Location-details{
            text-align: center;
        }

         .Location{
            border:1px solid var(--border);
            border-radius: var(--radius);
            padding: 10px 15px;
            margin: 12px 16px;
            background-color: var(--muted);
            box-shadow: var(--shadow);
            text-align: center;
            letter-spacing: 2px;
           
            color:var(--header);
            cursor: pointer;
        }

        .map-container{
            max-width:500px;
            margin: auto;
        }

         #contact-host{
            text-align: center;
        }

        .after-arrival {
            background-color:var(--muted);
            border:1px solid var(--border);
            border-radius: var(--radius);
           
             
            padding: 10px 15px;
            margin: 12px 16px;
             box-shadow: var(--shadow);
            text-align: center;
            letter-spacing: 2px;
          
            color:var(--header);
            cursor: pointer;

        }

       

        .img-container{
            display: grid;
            grid-template-columns: 1fr;
            width:100%;
           
            gap:30px;
            padding:25px;
            box-sizing: border-box;
         }
        .img-container img{
            width:100%;
            border-radius: 20px;
            
            
        }

        .contact-us{
            background-color:var(--lighblue);
            border:1px solid var(--border);
            border-radius: var(--radius);
           
             
            padding: 10px 15px;
            margin: 12px 16px;
             box-shadow: var(--shadow);
            text-align: center;
            letter-spacing: 2px;
            
            color:var(--header);
            cursor: pointer;
            font-weight: 600;
           
        }

        #contact-host  p{
              margin:0;
            color:var(--text); 
            font-size:1.2rem;
             border-bottom: 1px solid var(--border);
             margin-top: 20px;
             padding:16px;
              line-height: 1.4;
        }

        .contact-info{
            width:min(520px,92%);
            margin:14px auto 22px;
            padding: 16px 18px;
            background: var(--bg);
            border-radius: 14px;
            box-shadow: 0 10px 24px rgba(0, 0, 0, .06);
             text-align: center;
             border:solid 1px var(--border)
        }

        .host-name{
            font-weight: 700;
            color: var(--text);
            margin-bottom: 10px;
           font-size: clamp(1.2rem, 4vw, 1.5rem);
        }
         
        .host-phone{
            display:flex;
            flex-direction: column;
            align-items: center;
            gap:10px
        }
        .host-phone  a {
            display: flex;
            padding: 6px 10px;
             border-radius: 8px;
             border: 1px solid transparent;
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: 500;
            color: var(--header);
            justify-content: flex-start;
            align-items: center;
            width:220px;
            gap:7px;
        }

        .viber .icon svg{
            fill: #6f3faa;
        }

        .whatsapp .icon svg{
            fill:  #128c7e;
        }

        .contact-btn.viber{ color: #6f3faa; }     /* Viber-ish */
        .contact-btn.whatsapp{ color: #128c7e; }  /* WhatsApp-ish */
        .contact-btn.call{ color: #b13a4a; }   

        .when-you-leave{
            
             border: 1px solid var(--border);
             border-radius: var(--radius);
             padding: 10px 15px;
             margin: 12px 16px;
              background-color:var(--muted);
              box-shadow: var(--shadow);
                   text-align: center;
              letter-spacing: 2px;
                
              color: var(--header);
             cursor: pointer;
        }

      
        .arrival > p,.departure-intro p, .subsection-intro > p{
               margin:16px 0 10px;
            color:var(--text); 
            font-size:1.2rem;
            
             margin-top: 20px;
             padding:16px;
              line-height: 1.4;
        }

        .open-maps {
            text-align: center;
        }

        .arrival-list, .departure-list ul{
            max-width: 100%;
            box-sizing: border-box;
            padding-left: 18px;
           
           
        }

        .arrival-list li span, .departure-list li span{
            line-height: 2rem;
            font-size: 1.2rem;
        }

        li{
            padding:8px 0;
        }




        /* Μεγάλο κουμπί */
        .big-summary , .phones {
            display: block;
            margin: 12px 16px;
            
            font-weight: 700;
            padding: 10px 15px;
            border: 2px solid var(--border);
            border-radius: var(--radius);
            background: var(--header);
            color: #fff;
            cursor: pointer;
            box-shadow: var(--shadow);
            
            text-align: center;
        }
      

        #welcome-panel[open] .big-summary {
         background: var(--brand);
        }



    /* Το σώμα του panel - to swma poy filo3enei kate kathgoria  */
        .panel-body {
            margin: 30px auto;
             padding: 12px;

             border-radius: var(--radius);
             background:var(--bg);
             box-shadow: var(--shadow);
           
             
        }

        .subsection-summary{
            display:block;
             margin: 10px auto;
            padding: 12px 14px;
            border: 2px solid var(--border);
             border-radius: var(--radius);
             background: var(--muted);
             box-shadow: var(--shadow);
            cursor: pointer;
            text-align: center;
            font-size: clamp(16px, 4.2vw, 1.5rem);
            color: var(--header);
            width:85%
   
        }

        /* ===== CARD COMPONENT (LOCKED) ===== */
        .subsection[open] .subsection-summary, #important-phones[open] .phones{
            color:var(--muted);
            background-color:var(--brand);
            font-weight: bold;

        }


        .card {
            border: solid 1px #b0dcf1;
            padding:15px;
        }

        .card-image{
            width: 100%;
            height: 100%;
             
            border-radius: 10px;
        }
        

       .card-image img{
               width: 100%;

              height: auto;
           
            display: block;

        }

        .card-content {

            max-width: 100%;
            padding: 5px 15px;
        }

        .card-content h3 {
         font-size: 1.4rem;
         font-weight: 400;
         letter-spacing: 1px;
        text-align: center;
         margin-bottom: 25px;
         
        }

        .card-content p{
            overflow-wrap: break-word;
            line-height: 1.4;
        }

        
        
        /*button external link*/
        .button-link{
          display: inline-flex;
          align-items: center;
          gap:5px;

          font-weight: 500;
          padding: 0;
          margin: 0px 0px 15px 0px;
         
         color: var(--header);
          text-decoration: none;
          font-size: 0.9rem;
          text-underline-offset: 3px;
        
        }

        .button-link .icon{
            font-size: 0.9rem;
        }

        .button-link .text{
            text-decoration: underline;
        }



        a.map-link {
            padding: 5px 8px;
            background-color:  #3d8d518c;
             color: #fff6f6;
             font-weight: 600;
             border-radius: 7px;
             border: solid 4px #5cb7b7;
             display: block;
            
             margin:10px auto;
             width: min(300px, 50%);
             text-align: center;
        }

        a.map-link:hover{
            background-color: var(--brand);
            color:var(--text);
            border-color:var(--border) ;

        }

       .card-actions{
        display:flex;
        flex-direction: column;
        gap:12px;
       }

       .card-actions a{
         display: inline-flex;          /* icon + text */
         align-items: center;
         justify-content: center;
         gap: 8px;                      /* space between icon and text */
         padding: 10px 14px;
         border-radius: 10px;
        text-decoration: none;
        font-weight: 600;
        line-height: 1;
        cursor: pointer;
        font-size: clamp(1rem, 4vw, 1.2rem);
        color: var(--border);
    }

        .btn-primary{
            background:var(--header);
            color:var(--bg);
            border:1px solid var(--header);
            width:40%;
            margin: auto;

        }

       .btn-primary:hover{
             background: var(--brand);
            border-color: var(--brand);
        }

    .table-phones{
             
              width: 70%;
             margin: auto;
               
                 margin-top: 25px;
              padding: 20px;
                border: 1px solid var(--brand);
                background-color:var(--bg);
                border-radius: 10px;
                overflow: hidden;
                  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
             }



    .table-phones thead th{
         background: rgba(0,0,0,0.03);
        border-bottom: 2px solid var(--header);
        padding: 10px 12px;
        text-align: left;
    }

     .table-phones tbody td{
            padding: 10px 15px;
            border-bottom: solid 1px lightgrey;

     }

    .table-phones thead th:last-child{
        text-align: right;
    }

    .table-phones thead th:first-child{
        text-align: left;
    }
    
   
        
     .table-phones tbody tr td:last-child  {
          
          text-align: right;
    }

     .table-phones tbody tr td:first-child  {
          
          text-align: left;
    }

    .table-phones a{
       display: inline-block;
    padding: 6px 10px;
    border-radius: 8px;
    border: 1px solid transparent;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 500;
        color: var(--brand);

    }

    .service-item{
        display: flex;
        align-items: center;
        gap:6px
    }

    .icon svg{
  width: 25px;
  height: 25px;
  color:var(--brand);   /* teal/petrol */
}

.icon svg *{
  stroke-width: 18;   /* δοκίμασε 4-7 */
}

.service-text{
    font-size:17px
}




@media (max-width: 480px){
  .Location, .after-arrival, .contact-us, .when-you-leave, .big-summary, .phones{
    margin: 10px 10px;   /* αντί για 12px 16px */
    padding: 8px 13px;
    letter-spacing: 1px;
  }
  .card-content{
    padding:0px;
  }
}




@media (max-width: 430px) {
   .table-phones{
    border: none;
   }
  .table-phones,
  .table-phones thead,
  .table-phones tbody,
  .table-phones tr,
  .table-phones th,
  .table-phones td {
    display: block;
    width: 100%;
    text-align: center !important;
    color:var(--text);
    background-color: var(--bg);
  }

  .table-phones thead {
    display: none; /* κρύβουμε headers */
  }

  .table-phones tr {
    margin-bottom: 16px;
    padding: 12px;
    border: 1px solid var(--border);
    border-radius: 10px;
    
  }

  .table-phones td {
    padding: 6px 0;
  }
}

@media (max-width:430px){
    .departure-list li span, .arrival-list li span{
        line-height: 1.4rem;
        font-size: 1.1rem;
    }
}

@media (max-width: 430px){
  .arrival > p, .departure-intro p, #contact-host p,.description >p, .subsection-intro p{
    font-size: 1.1rem;
    line-height: 1.55;
      /* αν τώρα είναι center */
    margin: 10px auto 14px;
   
  }
  .card .map-link{
    font-size: 0.8rem;
    width:60%;
  }

  
}

.light-box-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: auto;
    right: 0;
    bottom: 0;
    text-align: center;
     background-color: rgba(0,0,0,0.5);
     z-index: 99;
     display: none;
}

.lightbox-img-wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
  
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox-img-wrapper img{
    max-width: 100vw;
    max-height: 95vh;
}
